# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignora diretórios e arquivos gerados pelo Maven/Quarkus
target/

# IntelliJ IDEA files
.idea/

.DS_Store